:root {
    --p: #c87184;
    --ps: #863245;
    --pm: #f1b8c3;
    --pl: #f8d3dc;

    --s: #8cb967;
    --ss: #32521d;
    --sm: #527d2e;
    --sl: #e2ecd0;

    --t: #d7a38b;
    --ts: #784833;
    --tm: #a4694f;
    --tmm: #d7b697;
    --tl: #fddccd;
    --tll: #feeee7;
    --q: #598273;
    --qs: #254b3c;
    --qm: #376653;
    --ql: #8fada2;
    --qll: #c7d9d2;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* line-01 **********************************/

.line-01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 1000px;
}
.line-01 .part1 {
    width: 45%;
    background-image: url(./assets/line01b.png);
    background-position: 0px 0px;
    background-repeat: space;
    background-size: cover;
    height: 1000px;

    transition: all 0.3s ease-out;
}
.line-01 .part1:hover {
    background-position: -100px 0px;
}
.line-01 .part2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ps);
    height: 100%;
}
.line-01 .part2 .wrapper {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.line-01 .part2 .title {
    font-size: 80px;
    font-weight: bolder;
    color: var(--pl);
}
.line-01 .part2 .bar {
    background-color: var(--pl);
    width: 200px;
    height: 30px;
}
.line-01 .part2 .description {
    list-style: none;
    width: 60%;
    color: white;
    font-size: 40px;
    font-weight: medium;
    padding: 0;
    margin: 0;
}
.line-01 .part2 .description li {
    margin: 30px 0px;
}

@media (max-width: 1440px) {
    .line-01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1920px;
        height: auto;
    }
    .line-01 .part1 {
        background-image: url(./assets/line01.png);
        background-position: center;
        background-size: 120%;
        background-repeat: space;
        height: 1000px;
        width: 100%;
        height: 800px;
    }
    .line-01 .part1:hover {
        background-position: left;
    }
    .line-01 .part2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--ps);
    }
    .line-01 .part2 .wrapper {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 50px 0px;
    }
}
@media (max-width: 850px) {
    .line-01 .part1 {
        background-image: url(./assets/line01.png);
        background-position: center;
        background-size: cover;
        background-repeat: space;
        height: 580px;
        width: 100%;
    }
    .line-01 .part1:hover {
        background-position: top;
    }
    .line-01 .part2 .wrapper {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 50px 0px;
        text-align: left;
        gap: 25px;
    }
    .line-01 .part2 .title {
        width: 100%;
        font-size: 50px;
        text-align: center;
    }
    .line-01 .part2 .bar {
        background-color: var(--pl);
        width: 200px;
        height: 12px;
    }
    .line-01 .part2 .description {
        width: 100%;

        font-size: 24px;
    }
}

@media (max-width: 425px) {
    .line-01 .part2 .wrapper {
        align-items: flex-start;
    }
    .line-01 .part1 {
        height: 352px;
    }
}
@media (max-width: 375px) {
    .line-01 .part2 .title {
        font-size: 40px;
    }
    .line-01 .part2 .wrapper .bar {
        height: 20px;
    }
    .line-01 .part2 .description {
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .line-01 .part2 .wrapper .bar {
        width: 150px;
        height: 15px;
    }
}

/* line-02 **********************************/

.line-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 1100px;
}
.line-02 .part1 {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;
    background-color: var(--tmm);
    height: 100%;
}
.line-02 .part1 .empty {
    width: 15%;
    height: 100%;
}
.line-02 .part1 .wrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.line-02 .part1 .wrapper .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.line-02 .part1 .title {
    color: white;
    font-size: 33px;
    font-weight: bolder;
}
.line-02 .part1 .bar {
    width: 200px;
    height: 15px;
    background-color: white;
}
.line-02 .part1 .description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 23px;

    width: 96%;
}
.line-02 .part1 .description li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.line-02 .part1 .description img {
}
.line-02 .part1 .description .selected {
    color: white;
}

.line-02 .part2 {
    width: 45%;
    background-image: url(./assets/line02.png);
    background-position: -200px 0px;
    background-repeat: space;
    background-size: cover;
    height: 100%;
    transition: all 0.3s ease-out;
}

.line-02 .part2:hover {
    background-position: -400px 0px;
}

@media (max-width: 1440px) {
    .line-02 {
        flex-direction: column-reverse;
        height: auto;
    }
    .line-02 .part1 {
        width: 100%;
        flex-direction: row;
        align-items: right;
        justify-content: center;
        background-color: var(--tmm);
        height: auto;
    }
    .line-02 .part1 .empty {
        display: none;
    }

    .line-02 .part2 {
        width: 100%;
        background-image: url(./assets/line02.png);
        background-size: 145%;
        background-position: 0px 0px;

        height: 800px;
    }

    .line-02 .part2:hover {
        background-position: -250px 0px;
    }
    .line-02 .part1 .wrapper {
        margin: 50px 0;
    }
}
@media (max-width: 850px) {
    .line-02 .part2 {
        width: 100%;
        background-image: url(./assets/line02.png);
        background-position: center;
        background-size: 130%;
        height: 550px;
    }
    .line-02 .part2:hover {
        background-position: left;
    }
}
@media (max-width: 650px) {
    .line-02 .part2 {
        width: 100%;
        background-image: url(./assets/line02.png);
        background-position: center;
        background-size: 140%;
        height: 400px;
    }
    .line-02 .part2:hover {
        background-position: left;
    }
}

@media (max-width: 470px) {
    .line-02 .part1 .wrapper {
        width: 95%;
    }
    .line-02 .part1 .title {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    .line-02 .part1 .description {
        font-size: 20px;
    }
    .line-02 .part1 .description img {
        width: 20px;
    }
    .line-02 .part1 .description li {
        gap: 5px;
    }
    .line-02 .part2 {
        width: 100%;
        background-image: url(./assets/line02.png);
        background-position: center;
        background-size: 140%;
        height: 300px;
    }
    .line-02 .part2:hover {
        background-position: left;
    }
}
@media (max-width: 380px) {
    .line-02 .part1 .title {
        color: white;
        font-size: 25px;
        font-weight: bolder;
    }
    .line-02 .part1 .description {
        font-size: 15px;
    }
    .line-02 .part2 {
        width: 100%;
        background-image: url(./assets/line02.png);
        background-position: center;
        background-size: 160%;
        height: 300px;
    }
    .line-02 .part2:hover {
        background-position: left;
    }
}

/* line-03 **********************************/
.line-03 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 800px;
}

.line-03 .part1 {
    width: 45%;
    background-image: url(./assets/line03s.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    height: 100%;
}
.line-03 .part2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--tll);
}
.line-03 .part2 .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.line-03 .part2 .wrapper .content {
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    padding: 50px;
}

.line-03 .part2 .wrapper .content .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 30px;

    height: 100%;

    list-style: none;
    font-size: 23px;
}
.line-03 .part2 .wrapper .content .description li {
}
.line-03 .part2 .wrapper .content .description .bar {
    width: 200px;
    height: 15px;
    background-color: var(--tmm);
}
.line-03 .part2 .wrapper .content .description .last {
    font-size: 46px;
}

.line-03 .part2 .wrapper .empty {
    height: 100%;
    width: 20%;
}

@media (max-width: 1440px) {
    .line-03 {
        flex-direction: column;
        height: auto;
    }
    .line-03 .part1 {
        width: 100%;
        flex-direction: row;
        align-items: right;
        justify-content: center;
        height: 800px;
    }
    .line-03 .part1 .empty {
        display: none;
    }

    .line-03 .part2 {
        height: auto;
        width: 100%;
    }
}
@media (max-width: 850px) {
    .line-03 .empty {
        display: none;
    }
    .line-03 .part2 .wrapper .content {
        width: 100%;
        padding: 20px;
    }
    .line-03 .part1 {
        width: 100%;
        background-image: url(./assets/line03.png);
        background-position: center;
        background-size: cover;
        background-repeat: space;
        height: 500px;
    }
}
@media (max-width: 470px) {
    .line-03 .part1 {
        background-position: right;
    }
}

/* line-04 **********************************/
.line-04 {
    background-color: white;
    height: auto;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-04 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: 50px 0;
    gap: 50px;
}

.line-04 .wrapper .title {
    width: 76%;
    color: black;
    font-size: 36px;
    text-align: center;
}

.line-04 .wrapper .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    gap: 50px;
    width: 76%;
}

.line-04 .wrapper .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
    width: 30%;
}
.line-04 .wrapper .content .container img {
}
.line-04 .wrapper .content .container span {
    color: black;
    font-size: 23px;
    text-align: center;
}

@media (max-width: 1440px) {
    .line-04 .wrapper {
        width: 90%;
        height: 100%;
        margin: 30px 0;
        gap: 50px;
    }
    .line-04 .wrapper .title {
        width: 100%;
        font-size: 36px;
    }
    .line-04 .wrapper .content {
        width: 100%;
        font-size: 36px;
    }
}

@media (max-width: 850px) {
    .line-04 .wrapper .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        gap: 50px;
        width: 76%;
    }
    .line-04 .wrapper .content .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
    }
}

@media (max-width: 470px) {
    .line-04 .wrapper .title {
        width: 100%;
        font-size: 25px;
    }
    .line-04 .wrapper .content .container span {
        color: black;
        font-size: 20px;
        text-align: center;
    }
}

/* line-05 **********************************/

.line-05 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 1000px;
}
.line-05 .part1 {
    width: 50%;
    background-image: url(./assets/line05b.png);
    background-position: 0px 0px;
    background-repeat: space;
    background-size: cover;
    height: 1000px;

    transition: all 0.3s ease-out;
}
.line-05 .part1:hover {
    background-position: -250px 0px;
}
.line-05 .part2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--ps);
    height: 100%;
}
.line-05 .part2 .wrapper {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    box-sizing: border-box;
    padding-left: 130px;
}
.line-05 .part2 .title {
    font-size: 55px;
    font-weight: bolder;
    color: var(--pl);
}
.line-05 .part2 .bar {
    background-color: var(--pl);
    width: 200px;
    height: 30px;
}
.line-05 .part2 .description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: white;
    font-size: 23px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
.line-05 .part2 .empty {
    height: 100%;
    width: 30%;
}

@media (max-width: 1440px) {
    .line-05 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1920px;
        height: auto;
    }
    .line-05 .part1 {
        background-image: url(./assets/line01.png);
        background-position: center;
        background-size: 120%;
        background-repeat: space;
        height: 1000px;
        width: 100%;
        height: 800px;
    }
    .line-05 .part1:hover {
        background-position: left;
    }
    .line-05 .part2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--ps);
    }
    .line-05 .part2 .wrapper {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 50px 0px;
        gap: 50px;
    }
}
@media (max-width: 850px) {
    .line-05 .empty {
        display: none;
    }
    .line-05 .part1 {
        background-image: url(./assets/line01.png);
        background-position: center;
        background-size: cover;
        background-repeat: space;
        height: 500px;
        width: 100%;
    }
    .line-05 .part1:hover {
        background-position: left;
    }
    .line-05 .part2 .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0px 0px;
        padding: 50px;
        text-align: left;
        gap: 50px;
    }
    .line-05 .part2 .title {
        width: 100%;
        font-size: 60px;
        text-align: center;
    }
    .line-05 .part2 .description {
        width: 100%;
        font-size: 23px;
    }
    .line-05 .part2 .bar {
        background-color: var(--pl);
        width: 200px;
        height: 15px;
    }
}

@media (max-width: 500px) {
    .line-05 .part2 .wrapper {
        align-items: flex-start;
    }
    .line-05 .part2 .title {
        font-size: 40px;
    }
    .line-05 .part2 .description {
        font-size: 20px;
    }
}
@media (max-width: 375px) {
    .line-05 .part2 .title {
        font-size: 30px;
    }
    .line-05 .part2 .wrapper .bar {
        width: 150px;
        height: 15px;
    }
    .line-05 .part2 .description {
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .line-05 .part2 .wrapper .bar {
        width: 150px;
        height: 15px;
    }
}

/* line-06 **********************************/
.line-06 {
    height: auto;
    max-width: 1920px;
    background-color: black;
    color: white;
    font-size: 23px;
}

.line-06 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    gap: 100px;
}

.line-06 .wrapper .title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    height: 10%;

    text-align: center;

    margin-top: 100px;
}

.line-06 .wrapper .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 85%;
    height: 70%;

    margin-bottom: 200px;

    position: relative;
}

.line-06 .wrapper .content .part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 300px;
}

.line-06 .wrapper .content .part1 .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: right;
}
.line-06 .wrapper .content .part1 .container1 span {
    color: var(--pm);
    font-size: 44px;
    width: 100%;
    position: relative;
}
.line-06 .wrapper .content .part1 .container1 ul {
    list-style: none;
    margin: none;
    padding: 0;
}

.line-06 .wrapper .content .part1 .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: right;
}
.line-06 .wrapper .content .part1 .container2 .c-title {
    color: var(--pm);
    font-size: 44px;
    width: 100%;
    position: relative;
}
.line-06 .wrapper .content .part1 .container2 span {
}

.line-06 .wrapper .content .part2 {
    width: 2px;
    border: 2px solid white;
    background-color: white;
    margin: 0 70px;
    top: 10px;
    bottom: 0;
    position: absolute;
}

.line-06 .wrapper .content .part2b {
    margin: 0 70px;
}

.line-06 .wrapper .content .part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.line-06 .wrapper .content .part3 .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: left;
}
.line-06 .wrapper .content .part3 .container1 span {
    color: var(--pm);
    font-size: 44px;
    width: 100%;
    position: relative;
}
.line-06 .wrapper .content .part3 .container1 ul {
    list-style: none;
    margin: none;
    padding: 0;
}

.top {
    position: absolute;
    top: 50%;
    right: -109px;
    transform: translate(-50%, -50%);
}

.middle {
    position: absolute;
    top: 50%;
    right: -109px;
    transform: translate(-50%, -50%);
}
.bottom {
    position: absolute;
    top: 25%;
    left: -70px;
    transform: translate(-50%, -50%);
}
.line-06 .wrapper .content .part1 .container3 {
    display: none;
}

@media (max-width: 1440px) {
    .line-06 .wrapper .title {
        width: 90%;
    }
    .line-06 .wrapper .content .part1 .container3 {
        display: flex;
    }
    .line-06 .wrapper .content .part3 {
        display: none;
    }

    .line-06 .wrapper .content .part2b {
        margin: 0px;
    }
    .line-06 .wrapper .content .part2 {
        top: 10px;
        bottom: 0;
        position: absolute;
        right: 0px;
    }
    .line-06 .wrapper .content {
        width: 100%;
    }
    .line-06 .wrapper .content .part1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 100%;
        gap: 100px;
    }
    .top {
        display: none;
    }

    .middle {
        display: none;
    }
    .bottom {
        display: none;
    }
}

@media (max-width: 768px) {
    .line-06 .wrapper .content .part2 {
        width: 2px;
        border: 2px solid white;
        background-color: white;
        margin: 0 5px;
        top: 10px;
        bottom: 0;
        position: absolute;
    }
}

@media (max-width: 500px) {
    .line-06 {
        font-size: 18px;
    }
    .line-06 .wrapper .title {
        font-size: 35px;
        text-align: center;
    }
    .line-06 .wrapper .content .part1 .container1 span {
        font-size: 35px;
    }
    .line-06 .wrapper .content .part1 .container2 .c-title {
        font-size: 35px;
    }
    .line-06 .wrapper .content .part3 .container1 span {
        font-size: 35px;
    }
}
/* line-07 **********************************/
.line-07 {
    height: 300px;
    max-width: 1920px;
    background-color: var(--p);
    display: flex;
    flex-direction: row;
}
.line-07 .left {
    width: 33%;
    height: 100%;
    position: relative;
}
.line-07 .left img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 0.5s;
}
.line-07 .left img:hover {
    top: 50%;
    left: 50%;
}
.line-07 .center {
    width: 33%;
    height: 100%;
    position: relative;
    z-index: 20;
}

.line-07 .center img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200%;
}

.line-07 .right {
    width: 33%;
    height: 100%;
    position: relative;
}
.line-07 .right img {
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%) scaleX(-1) scaleY(-1);
    z-index: 10;
    transition: all 0.5s;
}
.line-07 .right img:hover {
    top: 50%;
    left: 50%;
}
@media (max-width: 1440px) {
    .line-07 .center img {
        height: 170%;
    }
}
@media (max-width: 1440px) {
    .line-07 .center img {
        height: 140%;
    }
    .line-07 .right img {
        width: 150%;
    }
    .line-07 .left img {
        width: 150%;
    }
}
@media (max-width: 768px) {
    .line-07 .center img {
        height: 100%;
    }
    .line-07 .right img {
        width: 150%;
    }
    .line-07 .left img {
        width: 150%;
    }
}
@media (max-width: 540px) {
    .line-07 .center img {
        height: 70%;
    }
    .line-07 .right img {
        width: 150%;
    }
    .line-07 .left img {
        width: 150%;
    }
}
@media (max-width: 400px) {
    .line-07 .center img {
        height: 50%;
    }
    .line-07 .right img {
        width: 150%;
    }
    .line-07 .left img {
        width: 150%;
    }
}

/* line-08 **********************************/
.line-08 {
    height: auto;
    max-width: 1920px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-08 .wrapper {
    width: 56%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
    margin-top: 200px;

    text-align: center;
}
.line-08 .wrapper .title1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--p);
    font-size: 60px;
    font-weight: bolder;
}
.line-08 .wrapper .title2 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.line-08 .wrapper .description {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    list-style: none;
    margin: 0;
    padding: 0;

    color: black;
    font-size: 26px;
    font-weight: normal;

    margin-bottom: 100px;
}
@media (max-width: 1440px) {
    .line-08 .wrapper {
        width: 80%;
        gap: 40px;
    }
    .line-08 .wrapper .description {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .line-08 .wrapper {
        width: 90%;
        margin-top: 50px;
    }
    .line-08 .wrapper .description {
        font-size: 18px;
    }
    .line-08 .wrapper .title2 {
        font-size: 25px;
    }
}
@media (max-width: 500px) {
    .line-08 .wrapper .title1 {
        font-size: 40px;
    }
}
/* line-09 **********************************/
.line-09 {
    max-width: 1920px;
    height: auto;
    background-color: var(--p);

    display: flex;
    align-items: center;
    justify-content: center;
}
.line-09 div {
    width: 50%;

    color: white;
    font-size: 26px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 50px 0;
}
@media (max-width: 1440px) {
    .line-09 div {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .line-09 div {
        font-size: 20px;
    }
}

/* line-10 **********************************/
.line-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 1000px;
}
.line-10 .part1 {
    width: 50%;
    background-image: url(./assets/line10new.png);
    background-position: center;
    background-size: cover;

    height: 1000px;
    transition: all 0.3s ease-out;
}
.line-10 .part1:hover {
    background-position: left;
}
.line-10 .part2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--q);
    height: 100%;
}
.line-10 .part2 .wrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    box-sizing: border-box;
    padding-left: 130px;
}
.line-10 .part2 .title {
    font-size: 39px;
    font-weight: bolder;
    color: white;
}
.line-10 .part2 .bar {
    background-color: white;
    width: 200px;
    height: 20px;
}
.line-10 .part2 .description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: white;
    font-size: 23px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
.line-10 .part2 .empty {
    height: 100%;
    width: 15%;
}

@media (max-width: 1440px) {
    .line-10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1920px;
        height: auto;
    }
    .line-10 .part1 {
        background-position: center;
        background-size: 160%;
        background-repeat: space;
        height: 1000px;
        width: 100%;
        height: 800px;
    }
    .line-10 .part1:hover {
        background-position: left;
    }
    .line-10 .part2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--q);
    }
    .line-10 .part2 .wrapper {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 50px 0px;
        gap: 50px;
    }
}
@media (max-width: 850px) {
    .line-10 .empty {
        display: none;
    }
    .line-10 .part1 {
        background-position: center;
        background-size: cover;
        background-repeat: space;
        height: 500px;
        width: 100%;
    }
    .line-10 .part1:hover {
        background-position: center;
    }
    .line-10 .part2 .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0px 0px;
        padding: 50px;
        text-align: left;
        gap: 50px;
    }
    .line-10 .part2 .title {
        width: 100%;
        font-size: 38px;
        text-align: center;
    }
    .line-10 .part2 .description {
        width: 100%;
        font-size: 23px;
    }
}

@media (max-width: 500px) {
    .line-10 .part2 .wrapper {
        align-items: flex-start;
    }
    .line-10 .part2 .title {
        font-size: 30px;
    }
    .line-10 .part2 .description {
        font-size: 20px;
    }
    .line-10 .part2 .wrapper .bar {
        width: 150px;
        height: 15px;
    }
}
@media (max-width: 375px) {
    .line-10 .part2 .title {
        font-size: 25px;
    }
    .line-10 .part2 .wrapper .bar {
        width: 150px;
        height: 10px;
    }
    .line-10 .part2 .description {
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .line-10 .part2 .wrapper .bar {
        width: 150px;
        height: 8px;
    }
}

/* line-11 **********************************/
.line-11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 1400px;
}
.line-11 .part1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;
    background-color: var(--ss);
    height: 100%;
}

.line-11 .part1 .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: end;
    justify-content: space-around;
    text-align: right;
    margin-right: 100px;
}
.line-11 .part1 .wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    width: 64%;
}

.line-11 .part1 .title {
    color: white;
    font-size: 39px;
    font-weight: bolder;
}
.line-11 .part1 .bar {
    width: 200px;
    height: 30px;
    background-color: white;
}
.line-11 .part1 .description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 23px;

    width: 96%;
}
.line-11 .part1 .description li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.line-11 .part1 .description img {
}
.line-11 .part1 .description .selected {
    color: white;
}

.line-11 .part2 {
    width: 50%;
    background-image: url(./assets/line11.png);
    background-position: 0px 0px;
    background-repeat: space;
    background-size: cover;
    height: 100%;
    transition: all 0.3s ease-out;
}

.line-11 .part2:hover {
    background-position: -200px 0px;
}

@media (max-width: 1440px) {
    .line-11 {
        flex-direction: column-reverse;
        height: auto;
    }
    .line-11 .part1 {
        width: 100%;
        flex-direction: row;
        align-items: right;
        justify-content: center;
        height: auto;
    }
    .line-11 .part1 .wrapper {
        align-items: center;
    }

    .line-11 .part2 {
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 800px;
    }

    .line-11 .part2:hover {
        background-position: right;
    }
    .line-11 .part1 .wrapper {
        margin: 50px 0;
    }
}
@media (max-width: 850px) {
    .line-11 .part2 {
        width: 100%;
        background-size: cover;
        background-position: top;
        height: 550px;
    }
    .line-11 .part2:hover {
        background-position: top;
    }
    .line-11 .part1 .wrapper .content {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 30px;
        width: 85%;
    }
}

@media (max-width: 550px) {
    .line-11 .part1 .wrapper {
        width: 95%;
    }
    .line-11 .part1 .title {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    .line-11 .part1 .description {
        font-size: 20px;
    }
    .line-11 .part1 .description img {
        width: 20px;
    }
    .line-11 .part1 .description li {
        gap: 5px;
    }
    .line-11 .part2 {
        width: 100%;
        background-size: cover;
        height: 550px;
    }
    .line-11 .part1 .bar {
        width: 200px;
        height: 14px;
        background-color: white;
    }
}
@media (max-width: 380px) {
    .line-11 .part1 .title {
        color: white;
        font-size: 25px;
        font-weight: bolder;
    }
    .line-11 .part1 .description {
        font-size: 15px;
    }
}

/* line-12 **********************************/

.line-12 {
    max-width: 1920px;
    height: auto;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.line-12 .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    height: 100%;
    width: 55%;
    text-align: center;
    gap: 50px;
}
.line-12 .wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    font-weight: normal;
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    gap: 30px;
}
.line-12 .wrapper span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-weight: bolder;
    color: white;
    height: auto;
    width: 100%;
}
@media (max-width: 1440px) {
    .line-12 .wrapper {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .line-12 .wrapper ul {
        font-size: 20px;
    }
    .line-12 .wrapper span {
        font-size: 40px;
    }
}
@media (max-width: 350px) {
    .line-12 .wrapper ul {
        font-size: 18px;
    }
    .line-12 .wrapper span {
        font-size: 30px;
    }
}

.line-13 {
    max-width: 1920px;
    height: auto;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.line-13 .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    height: 100%;
    width: 63%;
    text-align: center;
    gap: 85px;
}
.line-13 .wrapper .ul1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    gap: 30px;
}
.line-13 .wrapper div {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    font-size: 54px;
    font-weight: bolder;
    color: black;
    height: auto;
    width: 100%;
    white-space: nowrap;
}
.line-13 .wrapper div .span1 {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    z-index: 20;
}
.line-13 .wrapper div .span2 {
    width: 33%;
    position: relative;
    height: 66px;
    z-index: 10;
}
.line-13 .wrapper div .span2 img {
    width: 33%;
    position: absolute;
    width: 110%;
    z-index: 10;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line-13 .wrapper div .span3 {
    width: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 20;
}

.line-13 .wrapper .ul2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 26px;
    font-weight: normal;
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    gap: 30px;
}
@media (max-width: 1440px) {
    .line-13 .wrapper {
        width: 90%;
    }
}
@media (max-width: 1110px) {
    .line-13 .wrapper div .span3 {
        width: auto;
    }
    .line-13 .wrapper div .span2 img {
        width: auto;
        width: 110%;

        top: 40%;
    }
}

@media (max-width: 768px) {
    .line-13 .wrapper ul {
        font-size: 20px;
    }
    .line-13 .wrapper span {
        font-size: 30px;
    }
    .line-13 .wrapper div .span2 img {
        width: auto;
        width: 110%;

        top: 60%;
    }
}
@media (max-width: 450px) {
    .line-13 .wrapper div {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .line-13 .wrapper div span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }

    .line-13 .wrapper .ul1,
    .line-13 .wrapper .ul2 {
        font-size: 18px;
    }
    .line-13 .wrapper span {
        font-size: 40px;
    }
    .line-13 .wrapper div .span2 img {
        width: auto;
        width: 230%;
        height: auto;
        top: 50%;
        left: 50%;
    }
}
